@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;800&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-family: "Open Sans", sans-serif;
}

/* Light Mode Variables */
:root {
	--transition-time: 0.5s;

	--background: rgb(237, 239, 241);
	--navbar: #f2f3f4;
	--text-primary: rgb(35, 39, 42);
	--text-secondary: rgb(88, 101, 242);
	--accent: purple;

	--modal-lock-color-raw: 35, 39, 42;

	--box-shadow-color: rgba(100, 100, 111, 0.2);
}

/* Dark Mode Variables */
[data-theme="dark"] {
	--background: rgb(35, 39, 42);
	--navbar: #2c2f33;
	--text-primary: rgb(237, 239, 241);
	--text-secondary: rgb(88, 101, 242);
	--accent: darkred;

	--modal-lock-color-raw: 237, 239, 241;

	--box-shadow-color: rgba(231, 231, 255, 0.1);
}

/* Parent Styles */
html {
	scroll-padding-top: 5rem;
	scroll-behavior: smooth;
}

.app {
	position: relative;
	color: var(--text-primary);
	background-color: var(--background);
	font-size: large;
	font-weight: bold;
	height: 100%;
	transition: all var(--transition-time);
}

/* Static Side Content Styles */
.static-icons-left,
.static-icons-right {
	display: flex;
	justify-content: space-between;
	flex-flow: column nowrap;
	align-items: center;
	position: fixed;
	bottom: 0;
	color: var(--text-primary);
	width: 4rem;
	z-index: 4;
}

.static-icons-left {
	left: 0.5rem;
}

.static-icons-left .icon {
	padding-bottom: 1.5rem;
}

.static-icons-right {
	height: 250px;
	right: 0.5rem;
}

.static-icons-right .email {
	transform: rotate(90deg);
	padding-bottom: 0.25rem;
	font-size: 0.75rem;
	font-weight: 400;
}

.static-icons-right .email a {
	text-decoration: none;
	font-size: inherit;
}

.static-icons-left .icon,
.static-icons-right .email {
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
}

.static-icons-left .icon a,
.static-icons-right .email a {
	color: var(--text-primary);
	transition: all var(--transition-time);
}

.static-icons-left .icon a:hover,
.static-icons-left .icon a:active,
.static-icons-right .email a:hover,
.static-icons-right .email a:active {
	color: var(--text-secondary);
	transition: all var(--transition-time);
}

.divider {
	width: 1px;
	height: 6.5rem;
	background-color: var(--text-primary);
	transition: all var(--transition-time);
}

/* Nav Bar Styles */
.navbar {
	display: flex;
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	justify-content: flex-end;
	padding: 0 0.75rem;
	box-shadow: 0 7px 29px 0 var(--box-shadow-color);
	background-color: var(--navbar);
	transition: all var(--transition-time);
}

.navbar a {
	color: inherit;
	font-size: inherit;
	text-decoration: none;
}

.navbar-links {
	display: flex;
	flex-direction: row;
	list-style: none;
	-webkit-user-select: none;
	user-select: none;
}

.navbar-links li:hover,
.navbar-links li:active {
	color: var(--text-secondary);
	transition: all var(--transition-time);
}

.navbar-links li,
.resume-download {
	display: flex;
	align-items: center;
	font-size: 0.75rem;
	margin: 0.5rem 0.75rem;
	cursor: pointer;
}

.resume-download {
	background: transparent;
	color: var(--text-primary);
	border: 2px solid var(--text-primary);
	border-radius: 0.25rem;
	padding: 0.35rem 0.6rem;
	transition: all var(--transition-time);
}

.resume-download:hover,
.resume-download:active {
	background-color: var(--text-secondary);
}

.theme-button {
	color: var(--text-primary);
	background: transparent;
	border: none;
	transition: all var(--transition-time);
}

.theme-button:hover,
.theme-button:active {
	color: var(--text-secondary);
}

.theme-icon {
	cursor: pointer;
	width: 1.1rem;
	height: 1.1rem;
	vertical-align: -0.5rem;
}

/* Side Navigation Styles */

.side-navbar {
	height: 100%;
	width: 13rem;
	position: fixed;
	z-index: 5;
	top: 0;
	right: 0;
	box-shadow: 0 7px 29px 0 var(--box-shadow-color);
	background-color: var(--navbar);
	overflow-x: hidden;
	padding-top: 1.1rem;
	transition: var(--transition-time);
}

.side-navbar.hide {
	width: 0;
}

.modal-lock {
	background-color: rgba(var(--modal-lock-color-raw), 0.25);
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 4;
	cursor: pointer;
}

.modal-lock.hide {
	background-color: rgba(var(--modal-lock-color-raw), 0);
	z-index: -1;
	transition: all var(--transition-time);
}

.side-navbar-button {
	position: fixed;
	display: none;
	z-index: 3;
	top: 1rem;
	left: 1rem;
}

.menu-button {
	color: var(--text-primary);
	background: transparent;
	border: none;
	transition: all var(--transition-time);
}

.menu-button:hover,
.menu-button:active {
	color: var(--text-secondary);
}

.menu-icon {
	font-size: 1.25rem;
	cursor: pointer;
}

.side-navbar-links-top .theme-button {
	padding-right: 0.75rem;
}

.side-navbar-links-top,
.side-navbar-links {
	display: flex;
	align-items: center;
	list-style: none;
	-webkit-user-select: none;
	user-select: none;
}

.side-navbar a {
	color: inherit;
	font-size: inherit;
	text-decoration: none;
}

.side-navbar-links-top {
	flex-direction: row;
	justify-content: space-around;
}

.side-navbar-links {
	flex-direction: column;
	padding-top: 0.5rem;
}

.side-navbar-links li:hover,
.side-navbar-links li:active {
	color: var(--text-secondary);
	transition: all var(--transition-time);
}

.side-navbar-links li {
	display: flex;
	align-items: center;
	font-size: 0.75rem;
	margin: 0.5rem 0.75rem;
	cursor: pointer;
}

/* Page Body Styles */

.page-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 3.9rem auto;
	padding-top: 1.1rem;
	margin-bottom: 0;
	width: auto;
	z-index: 1;
	transition: margin var(--transition-time);
}

.section {
	color: var(--text-primary);
	height: 1000px;
}

/* Media Queries */

/* Hide Side Nav on Screen Resize */
@media (min-width: 476px) {
	.side-navbar {
		width: 0;
	}
}

/* Shrink Navbar and Static Side Content Disappears */
@media (max-width: 800px) {
	.navbar-links li,
	.resume-download {
		margin: 0.25rem 0.5rem;
	}
	.navbar-links li,
	.resume-download {
		font-size: 0.65rem;
	}
	.page-body {
		margin: 2.75rem auto;
	}
	.static-icons-left .icon a,
	.static-icons-right .email a {
		color: rgba(var(--modal-lock-color-raw), 0);
		z-index: -1;
	}
	.divider {
		background-color: rgba(var(--modal-lock-color-raw), 0);
		z-index: -1;
	}
}

/* Mobile Screens */
@media (max-width: 475px) {
	html {
		scroll-padding-top: 1rem;
	}
	.navbar {
		display: none;
	}
	.side-navbar-button {
		display: block;
	}
	.page-body {
		margin: 0;
	}
}
