@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;800&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-family: "Open Sans", sans-serif;
}

/*#region Light Mode Variables */
:root {
	--transition-time: 0.5s;

	--background: rgb(237, 239, 241);
	--navbar: #f2f3f4;
	--text-primary: rgb(35, 39, 42);
	--text-secondary: rgb(96, 88, 208);
	--button-text-color: rgb(237, 239, 241);
	--button-highlight: rgb(96, 88, 208);

	--modal-lock-color-raw: 35, 39, 42;

	--box-shadow-color: rgba(100, 100, 111, 0.2);

	--home-subitle-color: rgba(0, 0, 0, 0.7);
	--home-content-color: rgba(0, 0, 0, 0.85);
}
/*#endregion*/

/*#region Dark Mode Variables */
[data-theme="dark"] {
	--background: rgb(35, 39, 42);
	--navbar: rgb(44, 47, 51);
	--text-primary: rgb(237, 239, 241);
	--text-secondary: rgb(141, 136, 221);
	--button-text-color: rgb(237, 239, 241);
	--button-highlight: rgba(141, 136, 221, 0.8);

	--modal-lock-color-raw: 237, 239, 241;

	--box-shadow-color: rgba(231, 231, 255, 0.1);

	--home-subitle-color: rgba(237, 239, 241, 0.8);
	--home-content-color: rgba(237, 239, 241, 0.6);
}
/*#endregion*/

/*#region Parent Styles */
html {
	scroll-padding-top: 5rem;
	scroll-behavior: smooth;
}

.app {
	position: relative;
	color: var(--text-primary);
	background-image: url("/src/images/bg.png");
	background-size: 100vw;
	background-color: var(--background);
	font-size: large;
	font-weight: bold;
	height: 100%;
	transition: all var(--transition-time);
}
/*#endregion*/

/*#region Static Side Content Styles */
.static-icons-left,
.static-icons-right {
	display: flex;
	justify-content: space-between;
	flex-flow: column nowrap;
	align-items: center;
	position: fixed;
	bottom: 0;
	color: var(--text-primary);
	width: 4rem;
	z-index: 4;
}

.static-icons-left {
	left: 0.5rem;
}

.static-icons-right {
	right: 0.5rem;
}

.static-icons-right .email {
	font-size: 0.75rem;
	font-weight: 400;
	writing-mode: vertical-lr;
	padding-left: 0.25rem;
}

.static-icons-right .email a {
	text-decoration: none;
	font-size: inherit;
}

.static-icons-left .icon,
.static-icons-right .email {
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	transition: all var(--transition-time);
	padding-bottom: 1.5rem;
}

.static-icons-left .icon a,
.static-icons-right .email a {
	color: var(--text-primary);
	transition: all var(--transition-time);
}

.static-icons-left .icon a:hover,
.static-icons-left .icon a:active,
.static-icons-right .email a:hover,
.static-icons-right .email a:active {
	color: var(--text-secondary);
	transition: all var(--transition-time);
}

.static-icons-left .icon:hover,
.static-icons-left .icon:active {
	transform: translate(0px, -5px);
	transition: all var(--transition-time);
}

.static-icons-right .email:hover,
.static-icons-right .email:active {
	transform: translate(0px, -5px);
	transition: all var(--transition-time);
}

.divider {
	width: 1px;
	height: 6.5rem;
	background-color: var(--text-primary);
	transition: all var(--transition-time);
}
/*#endregion*/

/*#region Nav Bar Styles */
.navbar {
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	padding: 0 0.75rem;
	box-shadow: 0 7px 29px 0 var(--box-shadow-color);
	background-color: var(--navbar);
	transition: all var(--transition-time);
}

.navbar a {
	color: inherit;
	font-size: inherit;
	text-decoration: none;
}

.avatar-container {
	display: flex;
	align-items: center;
	-webkit-user-select: none;
	user-select: none;
}

.avatar-container a {
	display: flex;
	align-items: center;
}

.site-avatar {
	height: 3.5rem;
	padding: 0.25rem;
	transition: all var(--transition-time);
}

.nav-first-name::before,
.nav-last-name {
	font-size: 1.15rem;
	padding-left: 0.25rem;
}

.nav-first-name::before {
	content: "Nichalus";
	color: var(--text-secondary);
}

.nav-last-name {
	padding-right: 0.25rem;
	font-weight: 400;
}

.navbar-links {
	display: flex;
	flex-direction: row;
	list-style: none;
	-webkit-user-select: none;
	user-select: none;
}

.navbar-links li:not(.do-not-bounce):hover,
.navbar-links li:not(.do-not-bounce):active {
	color: var(--text-secondary);
	transform: translate(0px, -5px);
	transition: all var(--transition-time);
}

.navbar-links li {
	transition: all var(--transition-time);
}

.navbar-links li,
.resume-download {
	display: flex;
	align-items: center;
	font-size: 0.75rem;
	margin: 0.5rem 0.75rem;
	cursor: pointer;
}

.resume-download {
	background: transparent;
	color: var(--text-primary);
	border: 2px solid var(--text-primary);
	border-radius: 0.25rem;
	padding: 0.35rem 0.6rem;
	transition: all var(--transition-time);
}

.resume-download:hover,
.resume-download:active {
	color: var(--button-text-color);
	background-color: var(--button-highlight);
}

.theme-button {
	color: var(--text-primary);
	background: transparent;
	border: none;
	transition: all var(--transition-time);
}

.theme-button:hover,
.theme-button:active {
	color: var(--text-secondary);
	transition: all var(--transition-time);
}

.theme-icon {
	cursor: pointer;
	width: 1.1rem;
	height: 1.1rem;
	vertical-align: -0.5rem;
}
/*#endregion*/

/*#region Side Navigation Styles */
.side-navbar {
	height: 100%;
	width: 13rem;
	position: fixed;
	z-index: 5;
	top: 0;
	right: 0;
	box-shadow: 0 7px 29px 0 var(--box-shadow-color);
	background-color: var(--navbar);
	overflow-x: hidden;
	padding-top: 0.75rem;
	transition: var(--transition-time);
}

.side-navbar.hide {
	width: 0;
}

.modal-lock {
	background-color: rgba(var(--modal-lock-color-raw), 0.25);
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 4;
	cursor: pointer;
}

.modal-lock.hide {
	background-color: rgba(var(--modal-lock-color-raw), 0);
	z-index: -1;
	transition: all var(--transition-time);
}

.side-navbar-button {
	position: fixed;
	display: none;
	z-index: 3;
	top: 1rem;
	left: 1rem;
}

.menu-button {
	color: var(--text-primary);
	background: transparent;
	border: none;
	transition: all var(--transition-time);
}

.menu-button:hover,
.menu-button:active {
	color: var(--text-secondary);
}

.menu-icon {
	font-size: 1.25rem;
	cursor: pointer;
}

.side-avatar-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 0.75rem;
	margin-top: 0.75rem;
}

.side-site-avatar {
	margin-right: 0.75rem;
	height: 3.5rem;
	transition: all var(--transition-time);
}

.side-nav-divider {
	height: 1px;
	width: 12rem;
	margin: 0 auto;
	background-color: var(--text-primary);
	transition: all var(--transition-time);
}

.side-nav-first-name,
.side-nav-last-name {
	font-size: 1.25rem;
	padding-left: 0.25rem;
}

.side-nav-first-name {
	color: var(--text-secondary);
}

.side-nav-last-name {
	padding-right: 0.25rem;
	font-weight: 400;
}

.side-navbar-links-top .theme-button {
	padding-right: 0.75rem;
}

.side-navbar-links-top,
.side-navbar-links {
	display: flex;
	align-items: center;
	list-style: none;
	-webkit-user-select: none;
	user-select: none;
}

.side-navbar a {
	color: inherit;
	font-size: inherit;
	text-decoration: none;
}

.side-navbar-links-top {
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 0.75rem;
}

.side-navbar-links {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

.side-navbar-links li:hover,
.side-navbar-links li:active {
	color: var(--text-secondary);
	border-color: var(--text-primary);
	transform: translate(0px, -5px);
	transition: all var(--transition-time);
}

.side-navbar-links li {
	display: flex;
	justify-content: center;
	font-size: 0.75rem;
	margin: 0.5rem 0.75rem;
	cursor: pointer;
	width: 180px;
	border-left: 2px solid;
	border-right: 2px solid;
	border-color: var(--navbar);
	transition: all var(--transition-time);
}
/*#endregion*/

/*#region Page Body Styles */
.page-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 3.9rem auto;
	padding-top: 1.1rem;
	margin-bottom: 0;
	width: auto;
	z-index: 1;
	transition: margin var(--transition-time);
}

.section {
	color: var(--text-primary);
	margin-right: 150px;
	margin-left: 150px;
	max-width: 1000px;
}
/*#endregion*/

/*#region Home Page Styles */
#home {
	display: flex;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	align-items: flex-start;
	padding-bottom: 150px;
}

.home-header {
	font-size: 3rem;
}

.home-subtitle {
	font-size: 2rem;
	color: var(--home-subitle-color);
}

.home-content {
	padding-top: 1.5rem;
	padding-bottom: 2.5rem;
	font-weight: 500;
	font-size: 0.75rem;
	color: var(--home-content-color);
	max-width: 550px;
	line-height: 1.25rem;
}

.home-resume-download {
	background: transparent;
	border: 2px solid var(--text-primary);
	border-radius: 0.25rem;
	padding: 0.75rem 1.3rem;
	font-size: 0.75rem;
	font-weight: 600;
	transition: all var(--transition-time);
	color: var(--text-secondary);
	-webkit-user-select: none;
	user-select: none;
}

.home-resume-download:hover,
.home-resume-download:active {
	background-color: var(--button-highlight);
	color: var(--button-text-color);
	cursor: pointer;
}

.home-resume-download a {
	color: inherit;
	font-size: inherit;
	text-decoration: none;
}

.highlight {
	color: var(--text-secondary);
}

.bold {
	font-weight: bold;
}
/*#endregion*/

/*#region About Page Styles */
#about {
	display: flex;
	flex-direction: column;
}

.about-title {
	font-size: 2rem;
}

.about-me {
	display: flex;
	flex-direction: row;
	margin-top: 0.75rem;
}

.about-photo {
	width: 12.5rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
	filter: grayscale(100%);
	transition: all var(--transition-time);
}

.about-photo:hover {
	filter: grayscale(0);
	transition: all var(--transition-time);
}

.about-description {
	font-weight: 500;
	font-size: 0.75rem;
}

.about-skills {
	position: relative;
	display: flex;
	flex-direction: row;
	border: 2px solid var(--text-primary);
	border-radius: 0.5rem;
	background-color: var(--navbar);
	padding: 1rem;
}

.about-skills-titles {
	display: flex;
	flex-direction: column;
	list-style: none;
	margin-bottom: 1rem;
}

.about-skills-titles li {
	display: flex;
	align-items: center;
	font-size: 1rem;
	font-weight: 500;
	margin-left: 0.75rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	height: 1.5rem;
	width: 10rem;
	cursor: pointer;
	z-index: 2;
	transition: all var(--transition-time);
}

.about-skills-titles li:hover,
.about-skills-titles li.selected {
	color: var(--text-secondary);
	transition: all var(--transition-time);
}

.indicator-edge {
	position: absolute;
	top: 1.5rem;
	height: 1.5rem;
	width: 0.25rem;
	z-index: 1;
	background-color: var(--text-secondary);
	transition: all var(--transition-time);
}

.indicator-bg {
	position: absolute;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	top: 1.5rem;
	height: 1.5rem;
	width: 8rem;
	z-index: 0;
	background-color: var(--box-shadow-color);
	transition: all var(--transition-time);
}

.skills {
	display: flex;
	align-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	min-height: 10rem;
	margin-top: 0.5rem;
}

.skill {
	display: flex;
	white-space: nowrap;
	align-items: center;

	font-size: 1rem;
	font-weight: 400;
	margin-right: 1rem;
	margin-bottom: 1rem;

	border: 2px solid var(--text-secondary);
	border-radius: 0.5rem;
	height: 2rem;
	padding: 0.25rem 1rem;

	transition: all var(--transition-time) ease-in-out;
}

.skill.hide {
	opacity: 0;
	font-size: 0;
	padding: 0;
	margin: 0;
	border-color: rgba(inherit, inherit, inherit, 0);
	border: 0px;

	transition: all 0.5s;
}

/*TODO: Add "Confidence Meter" to each skill.
        Add Skill.js component.
        Add Ability to tab menu to display:
            - All Skills
            - Web Skills
            - Game Skills
            - General Skills
        Color code the above categories regardless
*/
/*#endregion*/

/*#region Portfolio Page Styles */

#portfolio {
}

.portfolio-projects {
	display: grid;
	width: 1000px;
	grid-template-columns: 1fr 1fr 1fr; /* Change this later */
}

.project-container {
	margin: 0 1rem;
	margin-bottom: 1rem;
	border: 2px dotted red;
}

.project-image {
	width: 5rem;
}
/*#endregion*/

/*#region Contact Page Styles */
/*#endregion*/

/*#region Media Queries */

/*#region Hide Side Nav on Screen Resize */
@media (min-width: 641px) {
	.side-navbar {
		width: 0;
	}
}
/*#endregion*/

/*#region Mid-tier resize */
@media (max-width: 850px) {
	.navbar-links li,
	.resume-download {
		margin: 0.25rem 0.5rem;
	}
	.navbar-links li,
	.resume-download {
		font-size: 0.65rem;
	}
	.page-body {
		margin: 2.75rem auto;
	}
	.section {
		margin-right: 75px;
		margin-left: 75px;
	}
	.static-icons-left .icon a,
	.static-icons-right .email a {
		color: rgba(var(--modal-lock-color-raw), 0);
		z-index: -1;
	}
	.divider {
		background-color: rgba(var(--modal-lock-color-raw), 0);
		z-index: -1;
	}
	.site-avatar {
		height: 2.5rem;
		padding: 0.25rem;
		transition: all var(--transition-time);
	}
	.nav-first-name::before,
	.nav-last-name {
		font-size: 1rem;
		transition: all var(--transition-time);
	}
	.nav-first-name::before {
		content: "Nic";
	}
}
/*#endregion*/

/*#region Mobile Screens */
@media (max-width: 640px) {
	html {
		scroll-padding-top: 1rem;
	}
	.navbar {
		display: none;
	}
	.side-navbar-button {
		display: block;
	}
	.page-body {
		margin: 0;
	}
	.section {
		margin-right: 75px;
		margin-left: 75px;
	}
	.home-header {
		font-size: 2.5rem;
	}
	.home-subtitle {
		font-size: 1.5rem;
	}
}

@media (min-width: 1200px) {
	#about {
		min-width: 1100px;
	}
}

/*#endregion*/
/*#endregion*/
